<div class="container" [ngSwitch]="myVar">
  <div *ngSwitchCase="'A'">The value is A</div>
  <div *ngSwitchCase="'B'">The value is B</div>
  <div *ngSwitchCase="'C'">The value is C</div>
  <div *ngSwitchCase="'B'">The value is B Again!!!!!!!!</div>
  <div *ngSwitchDefault>The value is something different</div>
</div>
<div style="margin-top: 20px;">
  <button class="ui primary button" (click)="nextChoice()">Next Choice</button>
</div>
<h4 class="ui horizontal divider header">
  The choice is {{choice}}
</h4>
<div class="ui raised segment">
  <ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">The choice is First</li>
    <li *ngSwitchCase="2">The choice is Second</li>
    <li *ngSwitchCase="3">The choice is Third</li>
    <li *ngSwitchCase="4">The choice is Fourth</li>
    <li *ngSwitchCase="2">The choice is Second Again!!!!!</li>
    <li *ngSwitchDefault>The choice is something else</li>
  </ul>
</div>