<h4 class="ui horizontal divider header">
  Simple list of Strings
</h4>
<div class="item" *ngFor="let t of cities">
 <div>{{t}}</div>
</div>
<h4 class="ui horizontal divider header">
  List of Objects
</h4>
<table class="ui celled table">
  <thead>
    <th>Name</th>
    <th>Age</th>
    <th>City</th>
  </thead>
  <tr *ngFor="let p of people">
    <td>{{p.name}}</td>
    <td>{{p.age}}</td>
    <td>{{p.city}}</td>
  </tr>
</table>
<h4 class="ui horizontal divider header">
  Nested Data
</h4>
<div *ngFor="let c of peopleByCity">
<h2 class="ui header">{{c.city}}</h2>
  <table class="ui celled table">
    <thead>
      <th>Name</th>
      <th>Age</th>
    </thead>
    <tr *ngFor="let p of c.people">
      <td>{{p.name}}</td>
      <td>{{p.age}}</td>
    </tr>
    </table>
</div>
<h4 class="ui horizontal divider header">
 List with index value
</h4>
<div class="item" *ngFor="let c of cities;let i=index">
  <div>{{i+1}}-{{c}}</div>
</div>
