<div [ngClass]="{bordered: true}">
  This is always bordered
</div>
<div [ngClass]="{bordered: false}">
  This is always bordered
</div>
<div [ngClass]="{bordered:isBordered}">
  Using Object Literal isBordered {{isBordered ?"ON":"OFF"}}
</div>


<div [ngClass]="classesObj">
  Using Object variable {{isBordered ?"ON":"OFF"}}
</div>



<div class="selectors">
  <div>
    <input type="checkbox" [checked]="classList.indexOf('blue') > -1" (click)="toggleClass('blue')">
    <span>Blue</span>
  </div>
  <div>
    <input type="checkbox" [checked]="classList.indexOf('round') > -1 " (click)="toggleClass('round')">
    <span>Round</span>
  </div>
</div>
<button (click)="toggleBorder()">Toggle</button>
<div class="base" [ngClass]="['blue','round']">
  This will always have a blue and round background
</div>
<div class="base" [ngClass]="classList">
  This is {{ classList.indexOf('blue') > -1? "":"NOT"}} blue
  and {{classList.indexOf('round') > -1? "":"NOT"}} border background
</div>