<div *ngIf="true">
  <p>
    I am learning ng-if statements
  </p>
</div>
<hr/>
<div *ngIf="myFunc()">
  <h1>This is conditional angular's ng if statement</h1>
</div>
<hr/>
<div *ngIf="a>b">
  <h2>This is a numeric evaluation</h2>
</div>
<hr/>
<div *ngIf="str == 'no'">
  <h3>Based on some logical calculated values</h3>
</div>
<hr/>