/* You can add global styles to this file, and also import other style files */
@import './app/vendor/semantic.min.css';
.ui.menu .header.item > img.logo {
    margin-right: 12px; }
  
  .intro {
    margin-top: 10em;
    font-size: 1.2em;
    line-height: 1.5; }
  
  .bordered {
    border: 1px dashed black;
    background-color: #eee; }
  
  .selectors {
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px; }
  
  .base {
    padding: 10px;
    border: 1px solid #ccc; }
  
  .blue {
    color: white;
    background-color: blue; }
  
  .round {
    border-radius: 20px; }
  
  .ngClassDemo div {
    padding: 3px;
    margin: 2px; }
  
  .ngClassDemo button {
    margin-bottom: 20px; }
  
  .ngNonBindableDemo .bordered {
    border: 1px dashed black;
    background-color: #eee;
    padding: 10px; }
  
  .ngNonBindableDemo .pre {
    font-family: monospace; }
  