<div [style.background-color]="color">
  User uses fixed yellow colors
</div>
<h4 class="ui horizontal divider header">
  ngStyle Literal
</h4>
<div [ngStyle]="{color: 'white','background-color':'black'}">
  User uses green color on blue background
</div>
<h4 class="ui horizontal divider header">
  ngStyle literal and style.font-size.px
</h4>
<div>
  <span [ngStyle]="{color:'red'}" [style.font-size.px]="font">
    red text
  </span>
</div>
<h4 class="ui horizontal divider header">
  ngStyle with an Object
</h4>
<div [ngStyle]="style"></div>
<h4 class="ui horizontal divider header">
  ngStyle Object property from variable
</h4>
<div [ngStyle]="{color: color}">
  {{color}} fore ground text
</div>
<h4 class="ui horizontal divider header">
  style from variable
</h4>
<div [style.background-color]="color" style="color:cornflowerblue;">
  {{color}} background
  </div>
  <h4 class="ui horizontal divider header">
    Play with color and font-size here
  </h4>
  <div class="ui input">
    <input type="text" name="color" value="{{color}}" #colorinput>
  </div>
  <div class="ui input">
    <input type="text" name="font" value="{{font}}" #fontinput>
  </div>
  <button class="ui primary button" (click)="apply(colorinput.value,fontinput.value)">
    Apply Settings
  </button>